<div class="container">
    <a class="btn btn-primary" routerLink="/create">Create New Test</a>
    
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>
                    Test Date
                </th>
                <th>
                    Number Of participant
                </th>
                <th>
                    Test Type
                </th>
               
            </tr>
        </thead>
        <tbody>
            <div *ngIf="!testList">
                <h4>No Test Data is present Click Add new to add Data.</h4>
            </div>
            <tr *ngFor = "let test of testList" (click)="onClick(test.testId)">
                <td>{{test.date |  date: 'dd/MM/yyyy'}}</td>
                <td>{{test.numOfParticipants}}</td>
                <td>{{test.testType}}</td>
                
            </tr>
        </tbody>
    </table>
    
    </div>
    